* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: #d5ff40;
}
nav {
  padding: 60px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
nav h2 {
  font-size: 20px;
  font-weight: 500;
}
nav a {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
section {
  padding: 60px 100px;
}
section .hero-text1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -95px;
}
.hero-text1 h1 {
  font-size: 170px;
  font-weight: 900;
  line-height: 300px;
  text-transform: uppercase;
}
.hero-text1 .video {
  height: 100px;
  width: 400px;
  background-color: black;
  border-radius: 50px;
  margin-top: 90px;
  background-image: url(https://images.unsplash.com/photo-1769406525591-619fd06c678a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI3fENEd3V3WEpBYkV3fHxlbnwwfHx8fHw%3D);
  background-size: cover;
  background-position: bottom;
}
/*For Hero-text2*/
section .hero-text2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -115px;
}
.hero-text2 h1 {
  font-size: 170px;
  font-weight: 900;
  line-height: 300px;
  text-transform: uppercase;
}
.hero-text2 p {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 100px;
  width: 500px;
}
.image {
  height: 900px;
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
  background-color: green;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-image: url(https://images.unsplash.com/photo-1603584173870-7f23fdae1b7a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  position: relative;
}

.image .arrow {
  height: 150px;
  width: 155px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: 4%;
  top: -10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}
.arrow i {
  font-size: 100px;
}
